@import "./fonts/";

$font-quicksand: "Quicksand";
$typography-font-family: $font-quicksand, sans-serif !default;
$heading-font-family: $font-quicksand, sans-serif;

$primary: #35393c;
$secondary: #2ca58d;
$accent: #84bc9c;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
$green-1: #63ccca;
$grey-1: #4d5359;
$grey-2: #eeeeee;
$blue-1: #46b1c9;
$border: #f46197;
